// Geral
// -------------------------

*,
*:after,
*:before
    box-sizing: border-box
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)

    /* autoprefixer: off */
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    -o-user-select: none
    user-select: none
    /* autoprefixer: on */

html, body
    margin: 0
    padding: 0

html
    +monospace
    min-height: 100%

    color: $gray
    background:
        color: $white

body
    position: relative
    -webkit-overflow-scrolling: touch

    // -ms-touch-action: none !important


// Example
// -------------------------
.link--unstyled
    +unstyled-link

.rule
    color: $gray
    border: none
    border-bottom-width: 1px
    border-bottom-style: solid

.wall
    width: 128px

.wallE
    width: 20px
    height: 20px
    overflow: hidden
    padding: 3px
    display: inline-block
    vertical-align: middle
    text-align: center
    border-radius: 50%
    margin-left: 5px
