// Geral
// -------------------------
.link{}

.link--unstyled{
    @include unstyled-link;
}

.rule{
    color: $gray;
    border: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.circle{
    @include border-radius(50%);
}

.wallE{
    width: 14px;
    padding: 1px;
    display: inline-block;
    vertical-align: baseline;
    text-align: center;
}