doctype html
html
  head
    meta(charset='utf-8')
    title App
    link(rel='stylesheet', href='/css/app.css')
    link(rel='shortcut icon', type='image/ico', href='/favicon.ico')
    script(src='/js/lib/require.js', data-main='/js/app', async, defer)
  body
    article.pad-20
      figure.mar-b-20
        img.wall(src='/images/wall-e.png', srcset='/images/wall-e.png 2x' alt='wall-E')
        figcaption.fs-12
          b
            | WALL •
            span.bg-color-red.txt-color-white.circle.wallE E

      h1.txt-color-gray.mar-b-20 Basic Awesome App
      p.mar-b-10
        | Making a better and awesome web!!!

      #info
