doctype html
html
  head
    meta(charset='utf-8')
    title App
    link(rel='stylesheet', href='/css/app.css')
    link(rel='shortcut icon', type='image/ico', href='/favicon.ico')
    if (build)
      script(src='/js/main.js', async)
    else
      script(src='/js/lib/require.js', data-main='/js/main', async)
  body
    article.pad-20
      figure.mar-b-20
        img.walle(src='/images/wall-e.png', srcset='/images/wall-e.png 2x' alt='wall-E')
        figcaption.fs-12
          b
            | WALL • E

      h1.txt-color-gray.mar-b-20 Basic Awesome App
      p.mar-b-10
        | Making a better and awesome web!!!

      #info
